@import url(http://fonts.googleapis.com/css?family=Mako);

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
img {
	border: 0;
}

body {
    font-size: 14px;
    font-family: 'Mako', Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

.main header {
	background-color: #006dc3;
	color: #fff;
	font-size: 24px;
	padding: 20px;
	padding-bottom: 25px;
	border-bottom: 5px solid #2fa3ff;
	text-align: center;
	text-shadow: 0px 2px 2px #003f70;
}

.main .content {
	padding: 20px;
	text-align: center;
}

a.button {
	display: block;
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	color: #333;
	background-repeat: no-repeat;
	background-position: center center;
}

a.button:hover {
	color: #666;
}

.main .content .button {
	min-height: 80px;
	padding: 0px;
	margin: 10px;
	vertical-align: middle;
	line-height: 80px;
}

.button.logo {
	text-indent: -9999px;
}

.button.jira {
	background-image: url('images/jira.png');
}

.button.greenhopper {
	background-image: url('images/greenhopper.png');
}

.button.confluence {
	background-image: url('images/confluence.png');
}

.button.calendars {
	background-image: url('images/calendars.png');
}

.button.fisheye {
	background-image: url('images/fisheye.png');
}

.button.bitbucket {
	background-image: url('images/bitbucket.png');
}

.button.bamboo {
	background-image: url('images/bamboo.png');
}
